@import '../../colors';

.first-cell {
    border-left: 1px solid $border;
}

.last-cell {
    border-right: 1px solid $border;
    color: grey;
    display: flex;
    align-content: center;
    justify-content: center;
}

.invited {
    color: $invited;
}

.activated {
    color: $activated;
}

.pending {
    color: $pending;
}

.deactivated {
    color: $header-text;
}

.mail {
    display: inline-block;
    font-size: 1.7em;
}